html {
  direction: rtl;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  width: 70%;
  margin-right: 15%;
}

.sideAdRight {
  right: 1%;
}

.sideAdLeft {
  left: 1%;
}

.sideAdRight, .sideAdLeft {
  margin-top: 90px;
  margin-bottom: 10px;
  width: 14%;
  height: 85%;
  position: fixed;
  /* border:1px solid black; */
  overflow: auto, hidden;
}
