.content {
  margin-right: 1%;
  margin-left: 1%;
}

/* Start NavBar style */
.navBar {
  background-color: orange !important;
  padding-left: 1%;
  padding-right: 1%;
}

.search {
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  background-color: white;
}

.form {
  width: 500px;
}

.navigationButton,
.navigationButton:hover,
.navigationButton:active,
.navigationButton:visited,
.navigationButton:focus {
  margin: 1%;
  white-space: nowrap;
  text-align: center;
  background-color: #F28500;
  border-color: #F28500;
  box-shadow: none;
  color: rgb(255, 255, 255);
}

.searchButton,
.searchButton:hover,
.searchButton:active,
.searchButton:visited,
.searchButton:focus {
  background-color: #F28500;
  border-color: #F28500;
  box-shadow: none;
  color: rgb(255, 255, 255);
}

.updateMember {
  display: none;
}

@media (min-width:1000px) {
  .updateMember,
  .updateMember:hover,
  .updateMember:active,
  .updateMember:visited,
  .updateMember:focus {
    display: block;
    white-space: nowrap;
    text-align: center;
    margin-right: 1%;
    background-color: #F28500;
    border-color: #F28500;
    box-shadow: none;
    color: rgb(255, 255, 255);
  }
}

.collapsed {
  color: green;
}
/* End NavBar style */

/* Start card member style */
.card {
  text-align: center;
  float: right;
  width: 95%;
  height: 320px;
  overflow: auto;
  margin: 1.5%;
  margin-top: 0;
  padding: 0 !important;
  color: rgb(95, 95, 95);
  background-color: #FFC55C !important;
}

@media (min-width:1000px) {
  .card {
    text-align: center;
    float: right;
    width: 22%;
    height: 320px;
    overflow: auto;
    margin: 1.5%;
    margin-top: 0;
    padding: 0 !important;
    color: rgb(95, 95, 95);
    background-color: #FFC55C !important;
  }
}

.showPhone,
.showPhone:hover,
.showPhone:active,
.showPhone:visited,
.showPhone:focus {
  background-color: #FFA500;
  border-color: #FFA500;
  box-shadow: none;
  color: rgb(255, 255, 255);
}

.loader {
  text-align: center;
  bottom: 0;
}

.loaderSpin {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #F28500;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* End card member style */

.modalHeader {
  background-color: orange;
  color: white;
}

.modalButton,
.modalButton:hover,
.modalButton:active,
.modalButton:visited,
.modalButton:focus{
  background-color: #F28500;
  border-color: #F28500;
  box-shadow: none;
  color: rgb(255, 255, 255);
}

.ad {
  position: fixed;
  width: 250px;
  margin: 1.5%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.table {
  margin: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: white;
}

.linkForm {
  padding: 0px !important;
  color: #F28500;
}

.advertising {
  display: none;
}

@media (min-width:1000px) {
  .advertising {
    display: block;
  }
}