.content {
  width: 70%;
  height: 100%;
  margin: auto;
}

.search {
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  background-color: white;
}

.form {
  width: 500px;
}

.navBar {
  background: url("../public/gold-background.jpeg") no-repeat;
  background-size: cover;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding: 10px 20px 10px 20px;
}

.logo {
  margin-left: 240px;
  margin-right: 10px;
}

.navLink,
.navLink:visited,
.navLink:hover {
  font-size: large;
  color: rgb(136, 16, 16);
  margin-left: 20px;
}

.cardDeck {
  width: 70%;
  margin: auto;
}

.card {
  text-align: center;
  float: right;
  width: 20%;
  height: 300px;
  margin: 2.5%;
}

.updateMember,
.updateMember:hover,
.updateMember:active,
.updateMember:visited,
.updateMember:focus {
  margin-left: 70px;
  background-color: rgb(181, 16, 16);
  border-color: rgb(181, 16, 16);
  box-shadow: none;
  color: blanchedalmond;
}

.phoneNumber,
.phoneNumber:hover,
.phoneNumber:active,
.phoneNumber:visited,
.phoneNumber:focus {
  margin-left: 70px;
  background-color: rgb(181, 16, 16);
  border-color: rgb(181, 16, 16);
  box-shadow: none;
  color: blanchedalmond;
}

.sideAdv {
  width: 15%;
  margin: auto;
}
